@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pizza Delivery</h1>
    <p>Learn about <a href="https://github.com/veljkokokanovic/ddd_cqrs_demo"> DDD, CQRS and Event Sourcing</a>.</p>
</div>
